*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nosifer&display=swap');
.App {
  text-align: center;
}
body{
  background: crimson ;
  font-family: 'Lora', serif;
/* font-family: 'Nosifer', cursive; */
}
