*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nosifer&display=swap');
.App {
  text-align: center;
  width: 100%;
  color: white;
}
body{
  background: crimson ;
  font-family: 'Lora', serif;

}
.first-page{
  color: white;
 
}
h1{
 font-family: 'Nosifer', cursive;
}